.tabs {
display: flex;
position: relative;
@extend %flex-wrap;
@extend %width100;
height: 100%;
//padding: 0 .5em;
	label[for^="tab"] {
		text-align: center;
		text-transform: uppercase;
		position: relative;
		bottom: -1px;
		padding: 0.8em 1em 0;
		flex-basis: 30%;
		transition: .25s ease;
		border-bottom: 1px solid $svg-grid;
		/* Tab decorations */
		&::before {
			content: "";
			position: absolute;
			top: -0.35em;
			right: 0;
			bottom: 0;
			left: 0;
			background: $sidebar_bg + #060607;
			border-radius: .8em .8em 0 0;
			transform: perspective(1.2em) rotateX(5deg);
			transform-origin: bottom;
		}
		/* Tab titles */
		span {
		display: block;
		margin: 0 0 .5em;
		position: relative;
		z-index: 1;
		}
	}
	/* Radio */
	[id^="tab"] {
	/* Active tab */
		&:checked + label {
		font-weight: bold;
		border-bottom: none;
		flex-grow: 1;
			&::before {
			top: -0.6em;
			box-shadow: inset 0 4px 0 -1px $blue;
			border: 1px solid $svg-grid;
			border-bottom: none;
			}
		}
	}
}