$white: #fff;
$grey: #69696b; // was #7d7d7d
$black: #000;
$blue: #2abe8b; //#fcb117; // was #00baff
$main_bg: lighten($grey, 42%); // was #eeeef0
$sidebar_bg: #e0dfdd;
$tile: #f2f2f2;
$active_bg: #d9d9d9;
$svg-grid: #a5a3a3;
$gridline: #333;
$mask_background: #eeeded;