/* ---- Zoom bar ---- */

.backgrounds {
height: inherit;
@extend %width100;
@extend %disp_none;
}

.zoom_bar {
padding: 0.5em 2.5em 0.5em 2em;
margin-left: -5px;
background: $tile;
text-align: center;
	strong {
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	color: $blue;
	margin-top: 6px;
	}
}

/* Go back button */
.return {
background: none;
float: left;
	img {
	margin-right: 0.8em;
	position: relative;
	bottom: -0.3em;
	}
}

/* input type="range" */
input[type="range"] {
-webkit-appearance: none;
outline: none;
height: 4px;
width: 50px;
margin: 14px 32px 0;
background: $gridline;
	/* Webkit */
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		background: $blue;
		border-radius: 4px;
		width: 8px;
		height: 27px;
	}
	/* Firefox */
	&::-moz-range-track {
		background: $gridline;
		height: 4px;
	}
	&::-moz-range-thumb {
		background: $blue;
		border-radius: 4px;
		border: none;
		width: 8px;
		height: 27px;
	}
}

/* Buttons - & + */
.range {
position: relative;
display: inline-block;
height: 32px;
margin: 0;
float: right;
	button {
	background: none;
	position: absolute;
	display: inline-block;
	height: 32px;
	width: 32px;
	}
}

.inc {
right: 0;
top: 0;
}

/* ---- Backgrounds ---- */
.bg_container {
padding: 5px 0 0 5px;
height: calc(100% - 1em - 32px);
overflow: auto;
	li {
	display: inline-block;
	width: 24.7%;
	border: 0 solid transparent;
    border-right-width: 5px;
    border-bottom-width: 2px;
	vertical-align: middle;
	text-align: center;
	@extend %pointer;
	}
	img {
	@extend %width100;
	height: auto;
	}
}

.oncase {
position: relative;
	&::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;	
	bottom: 0;
	background: rgba(0,0,0,0.3);
	box-shadow: inset 0 0 0 2px $blue;
	}
}