@import '_fonts', '_vars', '_tools', "_global", "_phoneslider";

body {
	background: $white;
	//padding: 1.1em;
	display: flex;
	flex-direction: column;
	//height: 100vh;
	@extend %fixed_fullscreen;
}

.wrapper {
	background: $main_bg;
	flex-grow: 1;
	display: flex;
    flex-direction: column;
}

header {
    display: flex;
	@extend %flex-wrap;
	justify-content: space-between;
	padding: 1.5em 2.2em 0;
		h1 {
		@extend %width100;
		text-align: center;
		font-size: calcFluidSize(24, 100, 320, 1440);
		font-family: "GothamProBold", sans-serif;
		margin-bottom: 0;
		text-transform: uppercase;
		color: $white;
			@media (max-width:700px) and (orientation:landscape) {
				margin-top: 2px;
				font-size: 2em;
			}
		}
}

.roundlink {
	width: 50px;
	height: 50px;
	//background-color: $white;
	background-position: center;
	background-repeat: no-repeat;
	@include rounded_button;
		@media (max-width:768px) {
		width: 3em;
		height: 3em;
		}
}

.home {
background-image: url(../img/home.svg); // Could be changed to png extension
}

.cart {
background-image: url(../img/cart.svg); // Could be changed to png extension
}

.mode {
	li {
	display: inline-block;
		&+li {
		margin-left: 3em;
		@media (max-width:480px) {margin-left: 1em;}
		}
	}
}

.big_btn {
	font-size: 0.5em;
	font-weight: bold;
	font-family: inherit;
	//padding: 1.95em 5.8em;
	height: 6em;
    width: 16.4em;
	@include rounded_button;
		&:not(.selected) {
		box-shadow: unset;
		}
	@media (max-width:480px) {
	padding-left:4em;
	padding-right:4em;
	}
}

.selected {
	background-color: $blue;
	color: $white;
}

.brands {
flex: 1 1 100%;
text-align: center;
font-size: 0.82em;
color: $grey;
margin-top: 3em;
	li {
	display: inline-block;
		&+li {
		margin-left: 3em;
		}
	}
	a {
		&::after {
		content: "";
		display: block;
		margin: 1px auto 0 0;
		height: 3px;
		width: 0;
		background-color: $blue;
		transition: width .25s ease-in-out;
		}
	}
	.current {
	color: $black;
		&::after {@extend %width100;}
	}
}