/*
@font-face
{
    font-family: lobster;
    src: url('../font/lobster.ttf');
}

html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

#canvas {
    background: url("/images/phone1--.png") no-repeat;
    background-size: 767px 1654px;
}
.phone-mask, .helper-mask{
    width: 864px;
    height: 1743px;
    left: -50px;
    top: -36px;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}
.img-thumbnail{
    width: 90px;
}
.cp-list-color a{
    display: inline-block;
    width: 20px;
    height: 20px;
}
.helper-mask{
    width: 864px;
    height: 1743px;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    display: none;
}
.active{
    display: block;
}
.prive-mask{
    width: 100px;
}
.contain{
    width: 767px;
    transform: matrix(0.35, 0, 0, 0.35,-200,-400);
    top: -113px;
    position: relative;
}
.layer_cart_overlay{
    background-color: #000;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 98;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
}
#layer_cart {
    background-color: #fff;
    position: absolute;
    display: none;
    z-index: 99;
    width: 50%;
    margin-right: 8%;
    margin-left: 8%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
*/

.hide {
    display:none !important;
}